= render partial: 'header'
= render partial: 'mypage-bread-crumbs'
.exhibit-btn
  .exhibit-btn__box
    %p 出品
    .exhibit-btn-icon
      =link_to new_item_path do
        =fa_icon "camera"
      
.l-container-clearfix
  .payment-method-box
    .payment-method-box__title
      支払い方法
    .payment-method-box__register
      .payment-method-box__register__title
        クレジットカード一覧
      .payment-method-box__register__btn
        =link_to 'クレジットカードを追加する', '#'
        = fa_icon 'credit-card'
      .payment-method-box__register__about
        =link_to 'お支払い方法について', '#'
        = fa_icon 'chevron-right'


  = render partial: 'side-bar'
= render partial: 'items/footer'