= render partial: 'header'
%nav.bread-crumbs
  %ul
    %li.itemscope
      - breadcrumb :logout
      = render "layouts/breadcrumbs"

.logout-section
  = render partial: 'side-bar'
  .logout-content
    .logout-container
      .logout-inner
        = link_to destroy_user_session_path, method: :delete do
          .btn-logout{type: "submit"} ログアウト

= render partial: 'layouts/footer'