.exhibition-wrapper
  .exhibition-header
    = image_tag "mercari.png",size: "185x49"
  .exhibition-field
    .exhibition-field__content
      .exhibition-field__content__inner
        .exhibition-title
          %h1 購入内容の確認
          .exhibition-buy-content
            - @item.images.each_with_index do |image, i|
            - break if i == 1
              =image_tag image.image.to_s
            .exhibition-buy-item
              .exhibition-buy-item__name
                = @item.name
              .exhibition-buy-item__price
                %span
                  ¥
                  = @item.price.to_s(:delimited)
                .exhibition-buy-item__price__shipping
                  -if @item.shipping_id.between?(3,11)
                    (税込)送料込み
                  - elsif @item.shipping_id.between?(12,15)
                    (税込)着払い
          .exhibition-buy-content
            .exhibition-buy-content__inner
              .buy-price-table
                .buy-price-table__title
                  %p 支払い金額
                .buy-price-table__price
                  ¥
                  = @item.price.to_s(:delimited)
              .buy-accordion-table
                .buy-accordion-table__check
                  %label
                    %input{type: 'checkbox'}
                    .point-check-button
                    %p
                      ポイントを使用(所持ポイント:P0)

                %ul.buy-accordion__parent
                  %li.buy-accordion__child
                    %label
                      %input{ name: "consume_point_radio", type: "radio", value: "all", id: 'point'}
                      .point-radio-button
                      %p
                        すべてのポイントを使う
                        %br
                        (使用ポイント:P0)
                  %li.buy-accordion__child
                    %label
                      %input{ name: "consume_point_radio", type: "radio", value: "all", id: 'point'}
                      .point-radio-button
                      %p
                        一部のポイントを使う
                  %li.buy-accordion__child2
                    %input{type: "number", placeholder: '使うポイントを入力'}

              .buy-info-table
                .buy-info-table__title
                  %p 支払い方法
                .buy-info-table__info
                  -if @card.blank?
                    = fa_icon 'plus-circle'
                    %span
                      =link_to '登録してください', new_card_path, data: {"turbolinks" => false}
                  - else
                    %p クレジットカード
                    .buy-info-table__info__num
                      = "**** **** **** " + @default_card_information.last4
                    .buy-info-table__info__expiration
                      有効期限
                      - exp_month = @default_card_information.exp_month.to_s
                      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                      = exp_month + " / " + exp_year
                    = image_tag "visa.png"
              .buy-info-table
                .buy-info-table__title
                  %p 配送先
                .buy-info-table__info
                -if @address.blank?
                  = fa_icon 'plus-circle'
                  %span
                    =link_to '登録してください', '#'
                -else
                  %p 
                    〒
                    =@address.zip_code
                    %br
                      =@address.prefecture
                      =@address.city
                      =@address.block
                      -if @address.building
                        =@address.building
                      %br
                        =current_user.profile.family_name
                        =current_user.profile.first_name
              .buy-button-table
                .buy-button-table__button 
                -unless @item.user.id == current_user.id
                  = form_tag(action: :pay, method: :post, disabled: :disabled) do
                    -if @card.blank? || @address.blank?
                      %button{:disabled => "disabled"} 購入する
                    -else
                      %button{:style => "background-color : #ea352d; cursor: pointer"} 購入する

  = render partial: 'items/exhibition_footer'