.exhibition_wrapper
  .exhibition_header
    = image_tag "mercari.png",size: "185x49"
  .exhibition_field
    .exhibition_field__content
      .exhibition_field__content__inner
        .exhibition_title
          %h1 購入内容の確認
          .exhibition_buy_content
            - @item.images.each_with_index do |image, i|
            - break if i == 1
              =image_tag image.image.to_s
            .exhibition_buy_item
              .exhibition_buy_item__name
                = @item.name
              .exhibition_buy_item__price
                %span
                  ¥
                  = @item.price.to_s(:delimited)
                .exhibition_buy_item__price__shipping
                  -if @item.shipping_id.between?(3,11)
                    (税込)送料込み
                  - elsif @item.shipping_id.between?(12,15)
                    (税込)着払い
          .exhibition_buy_content
            .exhibition_buy_content__inner
              .buy_price_table
                .buy_price_table__title
                  %p 支払い金額
                .buy_price_table__price
                  ¥
                  = @item.price.to_s(:delimited)
              .buy_accordion_table
                .buy_accordion_table__check
                  
                .buy_accordion_table__use 
                  ポイントを使用(所持ポイント:P3)
                %ul.buy_accordion__parent
                  %li.buy_accordion__child
                    %input{"data-buy" => "all", name: "consume_point_radio", type: "radio", value: "all", id: 'point'}
                    %label{for: 'point'}
                      .point_radio_button
                    -# %p
                    -#   すべてのポイントを使う
                    -#   <br>
                    -#   (使用ポイント:P3)
                  %li.buy_accordion__child
                    %label
                      %input{"data-buy" => "part", :name => "consume_point_radio", :type => "radio", :value => "0"}
                        aaaa
                  %li.buy_accordion__child
              .buy_info_table
                .buy_info_table__title
                  %p 支払い方法
                .buy_info_table__info
                  = fa_icon 'plus-circle'
                  %span
                    登録してください
              .buy_info_table
                .buy_info_table__title
                  %p 配送先
                .buy_info_table__info
                  = fa_icon 'plus-circle'
                  %span
                    登録してください
              .buy_button_table
                .buy_button_table__button  
                  購入する

                



              
  


  .exhibition_footer
    %ul
      %li=link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
      %li=link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
      %li=link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
    =image_tag "exhibition-footer-logo.png", class: "exhibition-footer-logo"
    %p © 2019 Mercari