.exhibition_wrapper
  .exhibition_header
    = image_tag "mercari.png",size: "185x49"
  .exhibition_field
    .exhibition_field__content
      .exhibition_field__content__inner
        .exhibition_title
          %h1 商品の情報を入力
        = form_for @item do |f|
          .exhibition_sell_box
            .exhibition_sell_box__title
              %h2 出品画像
              %span 必須
            %p 最大10枚までアップロードできます
            .exhibition_drop_upload_box
              = fa_icon 'camera', class: :exhibition_camera_icon
          .exhibition_sell_box
            .exhibition_sell_box__title
              %h2 商品名
              %span 必須
            = f.text_field :name, class: :exhibition_input_field, placeholder: '商品名（必須４０文字まで）'
            .exhibition_sell_box__title
              %h2 商品の説明
              %span 必須
            = f.text_area :description, class: :exhibition_input_field, placeholder: '商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年ごろに1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
          .exhibition_sell_box
            .exhibition_sell_box__left
              %p 商品の詳細
            .exhibition_sell_box__right
              .exhibition_sell_box__right__form
                %h2 カテゴリー
                %span 必須
                = f.collection_select :category_id, @parents, :id, :name, {prompt: "---"}, class: :exhibition_select_field
              .exhibition_sell_box__right__form
                %h2 商品の状態
                %span 必須
                = f.select :status, ["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], {prompt: "---"}, class: :exhibition_select_field
          .exhibition_sell_box
            .exhibition_sell_box__left
              %p 発送について
              =link_to '?','https://www.mercari.com/jp/help_center/article/64/'
            .exhibition_sell_box__right
              .exhibition_sell_box__right__form
                %h2 発送料の負担
                %span 必須
                = f.select :fee, ["送料込み(出品者負担)","着払い(購入者負担)"], {prompt: "---"}, class: :exhibition_select_field
              .exhibition_sell_box__right__form
                %h2 発送元の地域
                %span 必須
                = f.select :prefecture, Item.prefectures.keys, {prompt: "---"}, class: :exhibition_select_field
              .exhibition_sell_box__right__form
                %h2 発送までの日数
                %span 必須
                = f.select :arrival, ["1~2日で発送","2~3日で発送","3~7日で発送"], {prompt: "---"}, class: :exhibition_select_field