= render partial: 'layouts/header'
%nav.bread-crumbs
  %ul
    %li.itemscope
      - breadcrumb :payment
      = render "layouts/breadcrumbs"
= render partial: 'items/exhibit_btn'
      
.l-container-clearfix
  .payment-method-box
    .payment-method-box__title
      支払い方法
    .payment-method-box__register
      .payment-method-box__register__title
        クレジットカード一覧

      .payment-method-box__register__list
        = image_tag "visa.png"
        .payment-method-box__register__list__num
          = "**** **** **** " + @default_card_information.last4

        .payment-method-box__register__list__expiration
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      
        = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 削除する

      .payment-method-box__register__about
        =link_to '支払い方法について', '#'
        = fa_icon 'chevron-right'

        
  
  = render partial: 'users/side-bar'
= render partial: 'layouts/footer'